version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - projects_volume:/app/workspaces
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: always
    networks:
      - gaze-network

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    networks:
      - gaze-network
    depends_on:
      - backend
    restart: always

networks:
  gaze-network:
    driver: bridge

volumes:
  projects_volume:
